.cesium-lighter .cesium-measure-toolbar {
  background: #e2f0ff;
  border: 1px solid #444;
  color: #111;
  stroke: #111;
}
.cesium-lighter .cesium-measure-button {
  border-right: 1px solid #999;
}
.cesium-lighter .cesium-measure-button:hover {
  background-color: #81a3bb;
}
.cesium-lighter .cesium-measure-button.active {
  background-color: #528ecc;
  cursor: default;
}
.cesium-lighter .cesium-measure-instructions {
  border: 1px solid #999;
  background-color: rgba(240, 240, 240, 0.75);
  color: #111;
  stroke: #111;
}
.cesium-lighter .cesium-measure-help {
  fill: #111;
}
