.cesium-measure-toolbar {
  width: 40px;
  height: 32px;
  overflow: hidden;
  transition: width 0.8s;
  white-space: nowrap;
  background: #303336;
  border: 1px solid #444;
  color: #edffff;
  stroke: #edffff;
  stroke-width: 2;
  fill: transparent;
}
.cesium-measure-toolbar.expanded {
  width: 423px;
}
.cesium-measure-button {
  vertical-align: top;
  display: inline-block;
  border-right: 1px solid #444;
  cursor: pointer;
  padding: 4px 8px;
  height: 25px;
  width: 25px;
  margin-left: -4px; /*removes space between buttons*/
}
.cesium-measure-button:first-child {
  margin-left: 0;
}
.cesium-measure-button:hover {
  background-color: #48b;
}
.cesium-measure-button:last-child {
  border-right: none;
}

.cesium-measure-button.active {
  background-color: #1a71cc;
  cursor: default;
}
.cesium-measure-button-main {
  stroke-width: 1.3;
}
.cesium-measure-help {
  stroke-width: 0;
  padding: 6px 8px;
  fill: #edffff;
}
.cesium-measure-instructions {
  position: absolute;
  max-height: 500px;
  width: 403px;
  border: 1px solid #444;
  overflow-y: auto;
  border-radius: 0;
  background-color: rgba(48, 51, 54, 0.8);
  color: #edffff;
  padding: 10px;
  stroke: #edffff;
  stroke-width: 2;
}
.cesium-measure-icon {
  margin-right: 10px;
}
.cesium-measure-instructions .bold {
  margin-bottom: 3px;
}
.cesium-measure-instructions > ul {
  padding-left: 20px;
}
